# /usr/lib/systemd/system/passed-way.service
# systemctl status passed-way.service

[Unit]
Description=Passed Way services

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/bin/bash /home/passed-way/prod/pw-infra/start-prod
ExecReload=/bin/bash /home/passed-way/prod/pw-infra/start-prod
ExecStop=/bin/bash /home/passed-way/prod/pw-infra/stop-prod
WorkingDirectory=/home/passed-way/prod/pw-infra
Type=forking
User=passed-way
Group=passed-way
Restart=on-failure
RemainAfterExit=true
TimeoutSec=600