<div id="main_page">
  <div id="top-block">
    <div class="menu">
      <div class="logo"></div>

      <div class="elements">
        <!-- <span class="lang" (click)="changeLang()">
          {{ lang | uppercase }}
        </span>-->

        <a (click)="scrollTo('#collection')">{{
          'menu.collection' | translate
        }}</a>
        <a routerLink="/quest">{{ 'menu.quest' | translate }}</a>
        <a routerLink="/code" class="code">{{ 'menu.code' | translate }}</a>
      </div>
    </div>

    <div class="content">
      <div class="info">
        <div class="title-1" [@step-1]="'opened-1'">
          {{ 'main-page.title-1' | translate }}
        </div>
        <div class="title-2" [@step-1]="'opened-2'">
          {{ 'main-page.title-2' | translate }}
        </div>
        <div class="subtitle" [@step-1]="'opened-3'">
          {{ 'main-page.subtitle' | translate }}
        </div>

        <div
          class="explore"
          [@step-1]="'opened-4'"
          (click)="scrollTo('#about')"
        >
          {{ 'main-page.explore' | translate }}
          <i class="fa-solid fa-circle-chevron-right"></i>
        </div>

        <div class="social" [@step-1]="'opened-5'">
          <a [href]="contacts.youtube" target="_blank">
            <i class="fa-brands fa-youtube"></i>
          </a>

          <a [href]="contacts.instagram" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>

          <a [href]="contacts.mail" target="_blank">
            <i class="fa-solid fa-envelope"></i>
          </a>
        </div>
      </div>

      <div class="background"></div>
    </div>
  </div>

  <div id="about">
    <div class="triangle"></div>

    <div class="title-1" [@step-2]="step >= 2 && 'opened-1'">
      {{ 'main-page.about-title-1' | translate }}
    </div>
    <div class="title-2" [@step-2]="step >= 2 && 'opened-2'">
      {{ 'main-page.about-title-2' | translate }}
    </div>

    <div class="photo-1"></div>
    <div class="gradient-line"></div>
    <div class="photo-2"></div>

    <div class="text-1-block" [@step-2]="step >= 2 && 'opened-3'">
      <div class="subtitle">
        {{ 'main-page.about-text-1-subtitle' | translate }}
      </div>
      <div class="text">{{ 'main-page.about-text-1' | translate }}</div>
    </div>
    <div class="text-2-block" [@step-2]="step >= 2 && 'opened-4'">
      <div class="subtitle">
        {{ 'main-page.about-text-2-subtitle' | translate }}
      </div>
      <div class="text">{{ 'main-page.about-text-2' | translate }}</div>
    </div>

    <div class="next-step">
      <div
        class="text"
        [@step-2]="step >= 2 && 'opened-5'"
        (click)="scrollTo('#collection')"
      >
        {{ 'main-page.about-next-step' | translate }}

        <i class="fa-regular fa-chevron-down"></i>
      </div>
    </div>
  </div>

  <div id="collection">
    <div class="title-1" [@step-3]="step >= 3 && 'opened-1'">
      {{ 'main-page.collection-title-1' | translate }}
    </div>
    <div class="title-2" [@step-3]="step >= 3 && 'opened-2'">
      {{ 'main-page.collection-title-2' | translate }}
    </div>

    <div class="list-block">
      <div class="list-title-1" [@step-3]="step >= 3 && 'opened-3'">
        {{ 'main-page.collection-list-title-1' | translate }}
      </div>
      <div class="list-title-2" [@step-3]="step >= 3 && 'opened-3'">
        {{ 'main-page.collection-list-title-2' | translate }}
      </div>
      <div class="list-subtitle" [@step-3]="step >= 3 && 'opened-4'">
        {{ 'main-page.collection-list-subtitle' | translate }}
      </div>

      <div class="list" [@step-3]="step >= 3 && 'opened-5'">
        <div class="elem" *ngFor="let el of collection">
          <div
            class="photo"
            [ngStyle]="{
              background:
                'url(/assets/img/' +
                el.photo +
                ') no-repeat center center/cover'
            }"
          ></div>

          <div class="info">
            <div class="title" [innerHTML]="el.name | translate"></div>
            <div class="description">{{ el.description | translate }}</div>
            <div class="proofs">
              <div class="p" *ngFor="let p of el.proofs">
                - {{ p | translate }}
              </div>
            </div>

            <a class="explore" [href]="el.url">
              {{ 'main-page.collection-elem-explore' | translate }}
              <i class="fa-solid fa-chevron-right"></i>
            </a>
          </div>
        </div>

        <div class="elem-empty">
          <span
            [innerHTML]="'main-page.collection-elem-empty' | translate"
          ></span>

          <a [href]="contacts.instagram" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
