<div id="elbrus_pendant_code">
  <a class="back" href="/elbrus-pendant">
    <i class="fa-solid fa-chevron-left"></i
    >{{ 'elbrus-pendant-code-page.back' | translate }}
  </a>

  <div
    class="title"
    [innerHTML]="'elbrus-pendant-code-page.title' | translate"
  ></div>
  <div class="subtitle a">
    {{ 'elbrus-pendant-code-page.subtitle-1' | translate }}
  </div>

  <div class="subtitle b">
    {{ 'elbrus-pendant-code-page.subtitle-2' | translate }}
  </div>

  <div class="code-block">
    <div class="text">
      <div class="code-title">
        {{ 'elbrus-pendant-code-page.code-title' | translate }}
      </div>

      <div class="code-prompt">
        {{ 'elbrus-pendant-code-page.code-prompt' | translate }}
      </div>
    </div>

    <div class="video"></div>
  </div>

  <div class="promo-block">
    <div class="text">
      <div class="promo-title">
        {{ 'elbrus-pendant-code-page.promo-title' | translate }}
      </div>
    </div>

    <div class="video"></div>
  </div>
</div>
